/* Font Raleway */

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Heavy.ttf");
  font-weight: 900;
  font-style: normal;
}

/* Lato font */

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* Global styles */

body {
  font-family: "Raleway";
}

.container {
  margin: 0 auto;
}

.swiper-slide {
  height: auto !important;
}

@media screen and (max-width: 1183px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .hero-clutch-widget iframe {
    max-width: 200px;
  }
}

.hero-clutch-widget iframe:focus-visible {
  outline: none;
}

[type="radio"]:checked:hover {
  background-color: transparent;
  border: 2px solid #f94e1e;
}

[type="checkbox"] {
  color: #f94e1e;
}

[type="radio"] {
  border: 2px solid #f94e1e;
  color: transparent;
}

[type="checkbox"],
[type="radio"]:focus {
  border: 2px solid #f94e1e !important;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  font-family: "Lato";
  visibility: hidden;
  width: max-content;
  background-color: #767676;
  color: #fff;
  text-align: center;
  padding: 9px 16px;
  border-radius: 11px;
  margin: 0 auto;
  
  position: absolute;
  top: -45px;
  left: -100px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
